
<h1 mat-dialog-title>Add Setting</h1>
<form [formGroup]="settingForm" (ngSubmit)="saveSetting(settingForm.value)">
<div mat-dialog-content  class="py-4">
   
    <div class="row justify-content-center">
        <div class="col-md-10 ">
                     <div class="row">
                         <div class="col-6">
                            <mat-form-field appearance="outline"  >
                                <mat-label>Amount Per Minute </mat-label>
                                <input matInput   formControlName="amountPerMin" >
                                <mat-error *ngIf="settingForm.get('amountPerMin').invalid"> Invalid input </mat-error>
                              </mat-form-field>
                         </div>
                         <div class="col-6">
                            <mat-form-field appearance="outline"  >
                                <mat-label>Amount Per Meter</mat-label>
                                <input matInput  formControlName="amountPerMeter" >
                                <mat-error *ngIf="settingForm.get('amountPerMeter').invalid"> Invalid input </mat-error>
                              </mat-form-field>
                         </div>
                     </div>

                  <div class="row">
                    <div class="col-6">
                        <mat-form-field appearance="outline"  >
                            <mat-label>Flat Rate</mat-label>
                            <input matInput  formControlName="flatRate" >
                            <mat-error *ngIf="settingForm.get('flatRate').invalid"> Invalid input </mat-error>
                          </mat-form-field>
                     </div>
                    <div class="col-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Status</mat-label>
                        <mat-select  formControlName="status">
                          <mat-option>None</mat-option>
                          <mat-option value="active" >Active</mat-option>
                          <mat-option value="inactive" >Inactive</mat-option>
                        </mat-select>
                      </mat-form-field>
        
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <mat-form-field appearance="outline" style="width: 90%;">
                        <mat-label>Description</mat-label>
                        <textarea matInput  formControlName="description" rows="2" cols="8"></textarea>
                      </mat-form-field>
                    </div>
                  </div>    
        </div>
    </div>
</div>

<div mat-dialog-actions class="float-right">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" class="float-right " type="submit"  [disabled]="!settingForm.valid"> <mat-icon>done</mat-icon> Save Setting</button>
        
</div>
</form>



