<div class="row">
    <div class="col-lg-12 col-xl-12">
      <div class="card">
        <div class="card-header">Transactions List</div>
  
        <div class="card-body">
          <div class="row" *ngIf="!isEmpty">
            <mat-form-field appearance="outline">
              <mat-label>Filter</mat-label>
              <input
                matInput
                (keyup)="applyFilter($event)"
                placeholder="Ex. Mia"
                #input
              />
            </mat-form-field>
            <div *ngIf="isLoading; else elseBlock" style="width: 100%">
              <ngx-skeleton-loader
                count="5"
                [theme]="{
                  width: '90%',
                  'border-radius': '0',
                  height: '15px',
                  'margin-bottom': '10px'
                }"
              ></ngx-skeleton-loader>
            </div>
  
            <ng-template #elseBlock>
              <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="order">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Order
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.order }}
                  </td>
                </ng-container>
    
                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount (GH₵)</th>
                  <td mat-cell *matCellDef="let element">
                    <b>{{ element.amount | currency: ' ' }}</b>
                  </td>
                </ng-container>
    
                <ng-container matColumnDef="currency">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Currency</th>
                  <td mat-cell *matCellDef="let element">
                      {{ element.currency }}
                  </td>
                </ng-container>
    
                <ng-container matColumnDef="created_on">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Created At
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.createdAt | dateAgo }}
                  </td>
                </ng-container>
    
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef>Actions</th>
                  <td mat-cell *matCellDef="let element">
                    <button
                      mat-button
                      [matMenuTriggerFor]="belowMenu"
                      aria-label="Example icon-button with a menu"
                    >
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    
                  </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">
                    No data matching the filter "{{ input.value }}"
                  </td>
                </tr>
              </table>
    
              <mat-paginator
                [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
                class="float-right"
              ></mat-paginator>
            </ng-template>
         
          </div>
  
          <div class="row justify-content-center text-center" style="width: 100%">
            <div class="col-9">
              <div class="alert alert-info" *ngIf="isEmpty">
                No transactions found.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  