

    <div *ngIf="isLoading; else elseBlock">
        <div class="row ">
            <div class="col-md-4 text-center card-box">
              <img src="assets/images/load.gif" alt="" >
                
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4   text-center  card-box ">
                <img src="assets/images/load.gif" alt="" >
            </div>
        </div>
    </div>
   

    <ng-template #elseBlock>

        <div class="row">
        <div class="col-6" *ngIf="data">
            <div class="card-box">
                <h4>Ticket Info</h4>
                <div class="row">
                    <div class="col-6">
                        <p><b>Category:</b> {{data.category}} </p>
                        <p><b>Message: </b>{{data.message}} </p>
                        <p><b>Category:   </b> 
                            <span *ngIf="data.status == 'resolved'" class="badge badge-success"> {{data.status}} </span> 
                            <span *ngIf="data.status == 'processing'" class="badge badge-info"> {{data.status}} </span> 
                            <span *ngIf="data.status == 'rejected'" class="badge badge-dark"> {{data.status}} </span> 
                            <span *ngIf="data.status == 'pending'" class="badge badge-secondary"> {{data.status}} </span>  
                        </p>
                        <p><b>Created On:</b> {{data.createdAt | date:'medium'}}</p>
                    </div>
                    <div class="col-6">
                        <p><b>Issuer username: </b>{{data.issuer.username}}</p>
                        <p><b>Issuer email: </b>{{data.issuer.email}}</p>
                        <p><b>Issuer phone: </b>{{data.issuer.phone}}</p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-6" *ngIf="data">
            <div class="card-box">
                <h4>Order Details</h4>
                <div class="row">
                    <div class="col-6">
                      <p><b>Item : </b>{{ data.riderOrder.order.itemName }}</p>
                    </div>
                    <div class="col-6">
                      <p><b>Estimated Duration : </b>{{ data.riderOrder.order.duration }} min</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                        <p><b>Pickup Location : </b>{{data.riderOrder.order.pickUpLocationName}}  </p>
                    </div>
                    <div class="col-6">
                        <p><b>Dropoff Location : </b>{{data.riderOrder.order.dropOffLocationName}}  </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <p><b>Package Weight : </b>{{ data.riderOrder.order.packageWeight }} kg</p>
                    </div>
                    <div class="col-6">
                      <p><b>Package Category : </b>{{ data.riderOrder.order.packageCategory }}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <p><b>Contact One  Name : </b>{{ data.riderOrder.order.contactPersonOneName }}</p>
                    </div>
                    <div class="col-6">
                      <p><b>Contact One  Phone : </b>{{ data.riderOrder.order.contactPersonOnePhone }}</p>
                    </div>
                  </div>
        
                  <div class="row">
                    <div class="col-6">
                      <p><b>Contact Two  Name : </b>{{ data.riderOrder.order.contactPersonTwoName }}</p>
                    </div>
                    <div class="col-6">
                      <p><b>Contact Two  Phone : </b>{{ data.riderOrder.order.contactPersonTwoPhone }}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <b>Status : </b>
                      <span
                        *ngIf="data.riderOrder.order.status == 'PENDING'"
                        class="badge badge-danger"
                      >
                        {{ data.riderOrder.order.status }}
                      </span>
                      <span
                        *ngIf="data.riderOrder.order.status == 'PROCESSING'"
                        class="badge badge-secondary"
                      >
                        {{ data.riderOrder.order.status }}
                      </span>
                      <span
                        *ngIf="data.riderOrder.order.status == 'ENROUTE'"
                        class="badge badge-warning"
                      >
                        {{ data.riderOrder.order.status }}
                      </span>
                      <span
                        *ngIf="data.riderOrder.order.status == 'DELIVERED'"
                        class="badge badge-info"
                      >
                        {{ data.riderOrder.order.status }}
                      </span>
                      <span
                        *ngIf="data.riderOrder.order.status == 'COMPLETED'"
                        class="badge badge-success"
                      >
                        {{ data.riderOrder.order.status }}
                      </span>
                    </div>
                    <div class="col-6">
                      <p><b>Created At: </b>{{ data.riderOrder.order.createdAt | date: "medium" }}</p>
                    </div>
                  </div>
                  <p>
                    <b>Item Details :</b>{{ data.riderOrder.order.itemDescription }} Note: {{ data.riderOrder.order.notes }}
                  </p>
            </div>
    
            <div class="card-box">
                <h4>Rider Details</h4>
    
                <div class="row">
                    <div class="col-6">
                        <img class="img-thumbnail" [src]="hostUrl + data.riderOrder.rider.pictureUrl" alt="">
                   
                    </div>
                    <div class="col-6">
                        <p> <b>Full Name:   </b>{{data.riderOrder.rider.firstName | titlecase}}  {{data.riderOrder.rider.lastName | titlecase}}</p>
                        <p><b>Address:  </b> {{data.riderOrder.rider.address | titlecase }}</p>
                        <p><b>Email:  </b>{{data.riderOrder.rider.email }} </p>
                        <p><b>Phone: </b>{{data.riderOrder.rider.phone }} </p>
                        <p><b>Gender: </b>{{data.riderOrder.rider.gender }} </p>
    
                        <p><b>Date of birth:  </b> {{data.riderOrder.rider.dob | date:"mediumDate"}}</p>
                        <p><b>Age:   </b>{{age }}</p>
                        <p><b>Created On: </b>{{data.riderOrder.rider.createdAt | dateAgo }}</p>
                        <p *ngIf="data.riderOrder.rider.vehicle"> <b>Vehicle:  </b>{{ data.riderOrder.rider.vehicle.brand | titlecase}} - {{ data.riderOrder.rider.vehicle.model | titlecase}}</p>
                    </div>
                </div>
            </div>
          
        </div>

    </div>
    </ng-template>
 
   
