<div class="card-box">
    <h4 class="text-dark header-title">Customer List  

        <!-- <button
      (click)="listMembers()"
      class="btn btn-info mt-0 waves-effect waves-light float-right"
    >
      <i class="mdi mdi-clipboard-plus mr-1"></i> List Members
    </button> -->
    </h4>
      
<div class="row">
  <div class="col-lg-3 col-xl-3 ">
    <img class="img-thumbnail mt-2" [src]="pictureUrl" alt="" >

  </div>
  <div class="col-sm-12 col-xl-9 col-lg-9 container">
   
        <form [formGroup]="memberForm" (ngSubmit)="saveMember()">
          <div mat-dialog-content class="container">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="name">First Name</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="firstName"
                  />
                </div>
              </div>
              <div class="col-6">
                <div
                  class="form-group"
                  [ngClass]="{
                    'has-error':
                      memberForm.get('lastName').touched &&
                      !memberForm.get('lastName').valid
                  }"
                >
                  <label for="name">Last Name</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="lastName"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div
                  class="form-group"
                  [ngClass]="{
                    'has-error':
                      memberForm.get('otherNames').touched &&
                      !memberForm.get('otherNames').valid
                  }"
                >
                  <label for="name">Other Names</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="otherNames"
                  />
                </div>
              </div>
              <div class="col-6">
                <div
                  class="form-group"
                  [ngClass]="{
                    'has-error':
                      memberForm.get('dateOfBirth').touched &&
                      !memberForm.get('dateOfBirth').valid
                  }"
                >
                  <label for="name">Date of Birth</label>
                  <input
                    type="date"
                    class="form-control"
                    formControlName="dateOfBirth"
                  />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <div
                  class="form-group"
                  [ngClass]="{
                    'has-error':
                      memberForm.get('email').touched &&
                      !memberForm.get('email').valid
                  }"
                >
                  <label for="name">Email</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="email"
                  />
                </div>
              </div>
              <div class="col-6">
                <div
                  class="form-group"
                  [ngClass]="{
                    'has-error':
                      memberForm.get('occupation').touched &&
                      !memberForm.get('occupation').valid
                  }"
                >
                  <label for="name">Occupation</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="occupation"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div
                  class="form-group"
                  [ngClass]="{
                    'has-error':
                      memberForm.get('placeOfBirth').touched &&
                      !memberForm.get('placeOfBirth').valid
                  }"
                >
                  <label for="name">Place Of Birth</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="placeOfBirth"
                  />
                </div>
              </div>
              <div class="col-6">
                <div
                  class="form-group"
                  [ngClass]="{
                    'has-error':
                      memberForm.get('contactAddress').touched &&
                      !memberForm.get('contactAddress').valid
                  }"
                >
                  <label for="name">Contact Address</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="contactAddress"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div
                  class="form-group"
                  [ngClass]="{
                    'has-error':
                      memberForm.get('maritalStatus').touched &&
                      !memberForm.get('maritalStatus').valid
                  }"
                >
                  <label for="name">Marital Status</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="maritalStatus"
                  />
                </div>
              </div>
              <div class="col-6">
                <div
                  class="form-group"
                  [ngClass]="{
                    'has-error':
                      memberForm.get('numOfChildren').touched &&
                      !memberForm.get('numOfChildren').valid
                  }"
                >
                  <label for="name">Number Of Children</label>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="numOfChildren"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div
                  class="form-group"
                  [ngClass]="{
                    'has-error':
                      memberForm.get('maritalStatus').touched &&
                      !memberForm.get('maritalStatus').valid
                  }"
                >
                  <label for="name">Confirmed</label>
                  <select
                    name="category"
                    formControlName="confirmed"
                    class="form-control"
                  >
                    <option value="yes" selected>Yes</option>
                    <option value="no">No</option>
                  </select>
                </div>
              </div>
              <div class="col-6">
                <div
                  class="form-group"
                  [ngClass]="{
                    'has-error':
                      memberForm.get('groupName').touched &&
                      !memberForm.get('groupName').valid
                  }"
                >
                  <label for="name">Group</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="groupName"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div
                  class="form-group"
                  [ngClass]="{
                    'has-error':
                      memberForm.get('maritalStatus').touched &&
                      !memberForm.get('maritalStatus').valid
                  }"
                >
                  <label for="name">Dues Payment Status</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="duesPaymentStatus"
                  />
                </div>
              </div>
              <div class="col-6">
                <div
                  class="form-group"
                  [ngClass]="{
                    'has-error':
                      memberForm.get('placeOfBaptism').touched &&
                      !memberForm.get('placeOfBaptism').valid
                  }"
                >
                  <label for="name">Place of Baptism </label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="placeOfBaptism"
                  />
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div
                      class="form-group"
                      [ngClass]="{
                        'has-error':
                          memberForm.get('weddingDate').touched &&
                          !memberForm.get('weddingDate').valid
                      }"
                    >
                      <label for="name">Wedding Date</label>
                      <input
                        type="date"
                        class="form-control"
                        formControlName="weddingDate"
                      />
                    </div>
                  </div>
                  <div class="col-6">
                    <div
                    class="form-group"
                  >
                    <label for="name">File</label>
                    <input
                      type="file"
                      class="form-control" 
                      name="filename" (change)="fileProgress($event)" #fileHolder
                    />
                  </div>
                  </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div
                    class="form-group"
                  >
                    <label for="name">Image</label>
                    <input
                      type="file"
                      class="form-control" 
                      name="filename" (change)="imageProgress($event)" #imageHolder
                    />
                  </div>
                </div>
            </div>
          </div>

          <button
            type="submit"
            class="btn btn-success waves-effect waves-light ml-2 float-right mb-3"
          >
            <i class="mdi mdi-check"></i> Save Member
          </button>
        </form>
     
    
  </div>
</div>
</div>
