
<h3 mat-dialog-title>View Customer 
    <span *ngIf="data.status == true" class="badge badge-warning"> active </span> 
    <span *ngIf="data.status == false" class="badge badge-success">inactive </span>
</h3>
<hr>
<div mat-dialog-content class="container">
    <div  class="row justify-content-center pt-4 ">

        <div class="col-6">
            <p ><b>Username: </b>{{data.username}}</p>
            <p ><b>Phone: </b>{{data.phone}}</p>
            <p ><b>Email: </b>{{data.email}}</p>
            <p ><b>Gender: </b>{{data.gender}}</p>
           
            <!-- <p >Created At: {{data.createdAt | date:'fullDate'}}</p> -->
            
        </div>

        <div class="col-6">
            <p ><b>Date of Birth: </b>{{data.dob | date }}</p>
            <p ><b>Created At: </b>{{data.createdAt | dateAgo}}</p>
        </div>
 
    
    </div>
    
</div>
<div mat-dialog-actions class="float-right">
    <button mat-button mat-dialog-close class="float-right">Close</button>
    
  </div>