<h1 mat-dialog-title>View Manager
    <span *ngIf="data.status == 'inactive' ||data.status == 'false'" class="badge badge-warning"> Inactive </span> 
    <span *ngIf="data.status == 'active' || data.status =='true'" class="badge badge-success"> Active </span>

</h1>
<div mat-dialog-content class="container">
<div class="row">
    <div class="col-12">
        <h4>Details</h4>
        <p>Full Name: {{data.fullName }}</p>
        <p>Company: {{data.company }}</p>
        <p>Username: {{data.username}}</p>
        <p>Email: {{data.email}}</p>
        <p>Created On: {{data.createdAt | dateAgo }}</p>
    </div>

    <!-- <div class="col-8">
        <h4>List of Riders</h4>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Age</th>
                <th scope="col">Status</th>
                <th scope="col">Created At</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rider of data.riders">
                    <td>{{rider.firstName  | titlecase }} {{rider.lastName | titlecase}}</td>
                    <td>{{rider.address | titlecase}}</td>
                    <td>{{ _calculateAge(rider.dob)}}</td>
                    <td>  
                        <span *ngIf="data.status == 'inactive'" class="badge badge-warning"> {{data.status}} </span> 
                        <span *ngIf="data.status == 'active'" class="badge badge-success"> {{data.status}} </span>
                    </td>
                    <td>{{rider.createdAt | dateAgo }}</td>
                </tr>


            </tbody>

        </table>
    </div> -->
</div>
   
</div>

    
<div mat-dialog-actions class="float-right">
  <button mat-raised-button mat-dialog-close color="primary">Close</button>     
</div>